<div class="CardPessoa">
    <div class="Pessoa">
        <img src="../../../assets/pessoa.png" alt="Imagem da pessoa.">
        <h2>{{nome}}</h2>
    </div>
    <ul class="ListaInformacoes">
        <li class="Informacao">
            <b>CPF: </b>{{cpf}}
        </li>
        <li class="Informacao">
            <b>Telefone: </b>{{telefone}}
        </li>
        <li class="Informacao">
            <b>Logradouro: </b>{{logradouro}}
        </li>
        <li class="Informacao">
            <b>CEP: </b>{{cep}}
        </li>
    </ul>
</div>
